extends layout

block content
    style.
        body {
            margin-top: 100px; /* Adjust the value as needed */
        }
    .container
        .row
            .col-md-8.offset-md-2
                h2.text-center About Us
                p.text-justify
                    | Welcome to GTR-Website! This is a website about cars and
                    | committed to providing you with the latest information and updates
                    | on your favorite Nissan cars.
                h3.text-center Creator
                ul.list-unstyled.text-center
                    li Michelle Quirke

