doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
        script(src='/javascripts/bootstrap.min.js')
    body
        nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
            .container
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
                    span.navbar-toggler-icon
                #navbarMain.navbar-collapse.collapse.d-flex.flex-row
                    a.navbar-brand(href='/') Nissan Cars
                    ul.navbar-nav.ml-auto
        .container
            #login
                h3.text-center.text-white.pt-10 Login form
                .container
                    #login-row.row.justify-content-center.align-items-center
                        #login-column.col-md-6
                            #login-box.col-md-12
                                form#login-form.form(action='/login' method='post')
                                    h3.text-center.text-info Login
                                    .form-group
                                        label.text-info(for='username') Username:
                                        br
                                        input#username.form-control(type='text' name='username')
                                    .form-group
                                        label.text-info(for='password') Password:
                                        br
                                        input#password.form-control(type='password' name='password')
                                    .form-group
                                        input.btn.btn-info.btn-md(type='submit' value='Login')
                                        a.btn.btn-info.btn-md(href='/register') Register
            footer
                .row
                    .col-12
                        small &copy; Michelle Quirke 2023
